        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins&display=swap');
        * {
            margin: 0;
            padding: 0;
        }
        
        .layout {
            display: grid;
            grid-template-areas: 'header' 'main' 'footer';
            grid-template-columns: 100%;
            grid-template-rows: 60px 1fr 100px;
        }
        
        .layoutHeader {
            grid-area: header;
        }
        
        .layoutContent {
            grid-area: main;
        }
        
        .layoutFooter {
            grid-area: footer;
        }
        
        body {
            font-family: "Montserrat";
            font-weight: 400;
        }
        /*===== HEADER =====*/
        
        #header {
            display: flex;
            flex-direction: row;
            position: fixed;
            width: 100%;
            height: 60px;
            background-color: rgb(252, 249, 249);
            z-index: 100;
        }
        
        .containerLogo img {
            height: 60px;
        }
        
        .containerLogo {
            width: 20%;
        }
        
        .containerNavegador {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 80%;
            height: 100%;
        }
        
        .navegador {
            font-size: 1rem;
            list-style: none;
            bottom: 0;
            right: 0;
            margin-bottom: 5px;
        }
        
        .navegador li {
            text-align: center;
            display: inline-block;
            width: 100px;
        }
        
        .navegador li a:hover {
            border-bottom: solid 1px rgb(0, 102, 255);
        }
        
        .navegador li a {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            color: rgb(70, 66, 66);
        }
        /*===== FOOTER =====*/
        
        #footer {
            display: flex;
            padding: 5px 20px;
        }
        
        .containerContacto {
            width: 50%;
            left: 0;
        }
        
        .containerRedesSociales {
            width: 50%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
        .tituloFooter {
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
        }
        
        .textFooter {
            font-size: 10px;
            font-style: normal;
            list-style: none;
            font-weight: bold;
        }
        
        .redesSociales li {
            display: inline-block;
        }
        
        .redesSociales li a {
            text-decoration: none;
        }
        /*===== LETRAS =====*/
        
        .fontPoppins {
            font-family: "Poppins";
        }
        /*===== INDEX =====*/
        
        .containerPrincipal {
            padding: 130px 20px 0 20px;
            background-color: rgb(216, 209, 209);
        }
        
        .banner {
            display: flex;
        }
        
        .imagenBanner {
            background-image: url('../assets/Birria.jpg');
            background-position: center;
            background-size: cover;
            width: 50%;
            height: 50vh;
            border-radius: 50px;
        }
        
        .containerTextBanner {
            width: 50%;
            padding: 20px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .tituloBanner {
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            text-align: center;
            margin: 10px;
            color: rgb(1, 85, 57);
        }
        
        .textBanner {
            font-size: 16px;
            font-style: normal;
            text-align: center;
            font-weight: bold;
        }
        
        .carrusel {
            margin: 50px 0;
        }
        
        .carruselItem {
            display: flex;
            width: 100%;
        }
        
        .tituloCarrusel {
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            margin-bottom: 10px;
            color: rgb(36, 1, 30);
        }
        
        .carruselImgContainer {
            margin-bottom: 30px;
            border-radius: 50px;
            width: 50%;
        }
        
        .carruselImgContainer img {
            width: 100%;
            border-radius: 50px;
        }
        
        .carruselTextContainer {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .textCarrusel {
            font-size: 16px;
            font-style: normal;
            text-align: center;
            font-weight: bold;
            margin: 0 10px;
        }
        /*=====RECETAS =====*/
        
        .containerPrincipal {
            padding: 50px 20px 50px 20px;
            margin-bottom: 20px;
            background-color: rgb(216, 209, 209);
        }
        
        .containerReceta {
            display: flex;
            flex-direction: row;
            padding: 0 20px;
            margin-top: 10px;
            margin-bottom: 30px;
            min-height: 70vh;
        }
        
        .containerIngredientes {
            width: 50%;
        }
        
        .containerPorciones {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .containerPorciones img {
            width: 100%;
            border-radius: 50px;
        }
        
        .containerPorciones table {
            margin-top: 15px;
            padding: 2rem;
            background-color: rgb(204, 185, 110);
        }
        /*=====BEBIDAS/PLATILLOS/POSTRES =====*/
        
        .recetasPrincipal {
            padding: 50px 20px 50px 20px;
            margin-top: 70px;
            margin-bottom: 20px;
            background-color: rgb(216, 209, 209);
        }
        
        .cardReceta {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
        }
        
        .cardReceta a {
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
            color: rgb(5, 87, 90);
        }
        
        .imagenReceta {
            width: 50%;
        }
        
        .imagenReceta img {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            left: 0;
            border-radius: 50px;
        }
        
        .containerTextReceta {
            right: 0;
            width: 50%;
        }
        
        .tituloReceta {
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            text-align: center;
            margin: 10px;
            color: rgb(1, 85, 57);
        }
        
        .textReceta {
            font-size: 16px;
            font-style: normal;
            text-align: center;
            font-weight: bold;
        }
        /*=====CONTACTO =====*/
        
        .containerContactoPrincipal {
            padding: 50px 20px 50px 20px;
            margin-bottom: 20px;
            background-color: rgb(216, 209, 209);
        }
        
        .container {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
        }
        
        .containerFormulario {
            width: 50%;
        }
        
        .containerImg {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
        
        .containerImg img {
            margin-bottom: 50px;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: 50px;
        }
        
        .containerImg iframe {
            width: 100%;
            height: 20%;
            border-radius: 50px;
        }
        /*=====MEDIA QUERIES =====*/
        /*===== MEDIA QUERIES GENERAL =====*/
        
        @media only screen and (max-width: 700px) {
            #header {
                flex-direction: column;
                height: auto;
            }
            .containerLogo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .containerNavegador {
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
            }
        }
        /*INDEX MEDIA QUERIES For tablets: */
        
        @media only screen and (max-width: 600px) {
            .imagenBanner {
                display: none;
            }
            .containerTextBanner {
                width: 100%;
            }
            .containerPrincipal {
                padding: 30px 20px 0 20px;
            }
            .tituloCarrusel {
                text-align: center;
            }
            .carruselItem {
                flex-direction: column;
            }
            .carruselTextContainer {
                width: 100%;
            }
            .carruselImgContainer {
                width: 100%;
                margin-top: 20px;
            }
        }
        /* RECETAS MEDIA QUERIES For tablets: */
        
        @media only screen and (max-width: 700px) {
            .containerReceta {
                flex-direction: column-reverse;
            }
            .containerPorciones {
                width: 100%;
                margin-top: 150px;
            }
            .containerIngredientes {
                width: 100%;
                margin-top: 20px;
            }
        }
        /* BEBIDAS/PLATILLOS/POSTRES MEDIA QUERIES For tablets: */
        
        @media only screen and (max-width:700px) {
            .cardReceta {
                flex-direction: column;
            }
            .cardReceta:nth-child(1) {
                flex-direction: column-reverse;
            }
            .containerTextReceta {
                width: 100%;
            }
            .imagenReceta {
                width: 100%
            }
        }
        /* CONTACTO MEDIA QUERIES For tablets: */
        
        @media only screen and (max-width: 600px) {
            .containerImg {
                display: none;
            }
            .containerFormulario {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }