@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat";
  background-color: #e5e5e5; }

h1 {
  font-style: normal;
  color: black;
  font-size: 1.5rem;
  font-weight: 600; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem; } }

h2 {
  font-style: normal;
  color: black;
  font-size: 1.25rem;
  font-weight: 400; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.5rem; } }

.customNavbar {
  box-shadow: 7px 10px 14px -7px rgba(96, 102, 99, 0.65);
  -webkit-box-shadow: 7px 10px 14px -7px rgba(96, 102, 99, 0.65);
  -moz-box-shadow: 7px 10px 14px -7px rgba(96, 102, 99, 0.65); }
  .customNavbar ul li a {
    border-bottom: solid 1px white; }
    .customNavbar ul li a:hover {
      /*animación del menú*/
      border-bottom: solid 1px #43B692; }

.logo {
  height: 35px; }

.container-footer {
  font-style: normal;
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: #333333;
  max-width: 100%; }

.container-contacto ul li {
  list-style: none; }

.container-redes-sociales ul {
  width: 60%; }
  .container-redes-sociales ul li {
    display: inline-block; }
    .container-redes-sociales ul li a {
      font-size: 1.25rem;
      color: white; }
      .container-redes-sociales ul li a:hover {
        color: #b9b9b9; }

.container-copyright {
  background-color: #373737; }
  .container-copyright p {
    margin: 0;
    font-size: 0.75rem; }
    .container-copyright p span {
      font-weight: 600; }

.zoom {
  transition: all 0.2s ease; }

.zoom:hover {
  transform: scale(1.1); }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2343B692' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2343B692' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.border-radius {
  border-radius: 1rem; }

.img-cover {
  object-fit: cover; }

.container-receta {
  padding-top: 90px; }
  .container-receta a {
    color: #43B692; }

.banner-recetas {
  background-image: url("../assets/banner-recetas.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding-top: 90px; }
  .banner-recetas p:nth-child(1) {
    font-style: normal;
    color: white;
    font-size: 1.5rem;
    font-weight: 600; }
    @media (min-width: 768px) {
      .banner-recetas p:nth-child(1) {
        font-size: 2.25rem; } }
  .banner-recetas p:nth-child(2) {
    font-style: normal;
    color: white;
    font-size: 1.25rem;
    font-weight: 400; }
    @media (min-width: 768px) {
      .banner-recetas p:nth-child(2) {
        font-size: 1.5rem; } }

.banner {
  background-image: url("../assets/banner-inicio.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding-top: 90px; }
  .banner p:nth-child(1) {
    font-style: normal;
    color: white;
    font-size: 1.5rem;
    font-weight: 600; }
    @media (min-width: 768px) {
      .banner p:nth-child(1) {
        font-size: 2.25rem; } }
  .banner p:nth-child(2) {
    font-style: normal;
    color: white;
    font-size: 1.25rem;
    font-weight: 400; }
    .banner p:nth-child(2) span {
      font-weight: 600; }
    @media (min-width: 768px) {
      .banner p:nth-child(2) {
        font-size: 1.5rem; } }
  .banner a {
    background-color: #43B692;
    border: #43B692;
    border-radius: 12px; }
    .banner a:hover {
      background-color: #45997e; }

.container-section {
  margin-top: 70px;
  margin-bottom: 70px; }
  .container-section .card-outline {
    border-radius: 1rem;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1); }
    .container-section .card-outline img {
      border-radius: 1rem 1rem 0 0; }
  .container-section p:nth-child(1) {
    font-style: normal;
    color: black;
    font-size: 1.37rem;
    font-weight: 600; }
  .container-section p {
    font-size: 0.875rem;
    font-weight: 400; }
  .container-section p:nth-child(4) {
    font-style: normal;
    color: black;
    font-size: 1.125rem;
    font-weight: 400; }
  .container-section a {
    color: #43B692; }

.btn-limpiar {
  border: solid 1.5px #43B692;
  color: #43B692;
  border-radius: 1rem; }
  .btn-limpiar:hover {
    background-color: #45997e;
    border: solid 1.5px #45997e; }

.btn-enviar {
  color: white;
  border-radius: 1rem;
  background-color: #43B692;
  border: solid 1.5px #43B692; }
  .btn-enviar:hover {
    background-color: #45997e;
    border: solid 1.5px #45997e; }

.banner-nosotros {
  background-image: url("../assets/banner-somos.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding-top: 90px; }
  .banner-nosotros p:nth-child(1) {
    font-style: normal;
    color: white;
    font-size: 1.5rem;
    font-weight: 600; }
    @media (min-width: 768px) {
      .banner-nosotros p:nth-child(1) {
        font-size: 2.25rem; } }
  .banner-nosotros p:nth-child(2) {
    font-style: normal;
    color: white;
    font-size: 1.25rem;
    font-weight: 400; }
    @media (min-width: 768px) {
      .banner-nosotros p:nth-child(2) {
        font-size: 1.5rem; } }
