

.tituloBanner {
    font-size: 30px;
    @include fontsStyle;
}

.tituloCarrusel {
    font-size: 30px;
    @include fontsStyle;
   }

.imgCarrusel {
    width: 60%;
    border-radius: 10%;
    max-height: 400px;
    box-shadow: 10px 10px 5px 0px rgba(142, 143, 176, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(142, 143, 176, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(142, 143, 176, 0.75);
}