$bgColorHeader: rgb(252, 249, 249);
$colorFooter: white;
$colorFocus: rgb(185, 185, 185);
$navColor: rgb(70, 66, 66);
$bgColor:rgb(216, 209, 209);
$colorReceta: rgb(11, 5, 90);
$fontSize:(small: 16px, medium: 25px, large: 40px);
