.btn-limpiar {
  border: solid 1.5px $primaryColor;
  color: $primaryColor;
  border-radius: $border-radius-sm;
  &:hover {
    background-color: $primaryDarkColor;
    border: solid 1.5px $primaryDarkColor;
  }
}

.btn-enviar {
  color: white;
  border-radius: $border-radius-sm;
  background-color: $primaryColor;
  border: solid 1.5px $primaryColor;
  &:hover {
    background-color: $primaryDarkColor;
    border: solid 1.5px $primaryDarkColor;
  }
}
