* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    background-color: #e5e5e5;
}

h1{
    @include fontBlack;
    font-size: map-get($fontSize, l);
    font-weight: map-get($fontWeight, semibold);

    @media (min-width: $breakpoint-tablet) {
        font-size: map-get($fontSize, xl);
    }
}

h2{
    @include fontBlack;
    font-size: map-get($fontSize, md);
    font-weight: map-get($fontWeight, regular); 

    @media (min-width: $breakpoint-tablet) {
        font-size: map-get($fontSize, l);
    }
}

.customNavbar {
    box-shadow: 7px 10px 14px -7px rgba(96, 102, 99, 0.65);
    -webkit-box-shadow: 7px 10px 14px -7px rgba(96, 102, 99, 0.65);
    -moz-box-shadow: 7px 10px 14px -7px rgba(96, 102, 99, 0.65);

    ul li a {
        border-bottom: solid 1px white;
        &:hover {
            /*animación del menú*/
            border-bottom: solid 1px $primaryColor;
        }
    }
}

.logo {
    height: 35px;
}

.container-footer {
    @include fontWhite;
    font-size: map-get($fontSize, xs);
    font-weight: map-get($fontWeight, regular);
    background-color: #333333;
    max-width: 100%;
}
.container-contacto{
    ul li{
        list-style: none;   
    }
}
.container-redes-sociales {
    ul {
        width: 60%;
        li {
            display: inline-block;
            a {
                font-size: map-get($fontSize, md);
                color: white;
                &:hover {
                    color: $focusColor;
                }
            }
        }
    }
}

.container-copyright {
    background-color: #373737;
    p {
        margin: 0;
        font-size: map-get($fontSize, xxs);

        span {
            font-weight: map-get($fontWeight, semibold);
        }
    }
}

.zoom {
    transition: all 0.2s ease;
}
.zoom:hover {
    transform: scale(1.1);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2343B692' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2343B692' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.border-radius{
border-radius: $border-radius-sm;
}

.img-cover{
    object-fit: cover;
}
