$fontSize:(xxs: .75rem, xs: .875rem, s: 1.125rem, md: 1.25rem, m: 1.37rem, l: 1.5rem, xl: 2.25rem);
$fontWeight:(regular:400, semibold:600);
$primaryColor: #43B692;
$primaryDarkColor: #45997e;
$border-radius-sm: 1rem;
$focusColor: rgb(185, 185, 185);

$breakpoint-tablet: 768px;